.fadeIn-animation {
    margin-top: 25px;
    text-align: center;
  
    -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
            animation: fadeIn 2s;
  }
  
  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  