  li {
    display: inline;
    float: left;
    font-size: 16px;
    padding: 0px;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 49px;
  }
  
  li a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: #333;
    background-color: white;
  }

  .active {
    background-color: #04AA6D;
  }


