  li {
    display: inline;
    float: left;
    font-size: 16px;
    padding: 0px;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 49px;
  }
  
  li a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .liInput {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    height: 49px;
    width: 700px;
  }

  li a:hover {
    color: #333;
    background-color: white;
  }

  .active {
    background-color: #04AA6D;
  }

  .searchInput {
    margin: 12px 0px 0px 50%;
    width: 40%;
    height: 22px;
    background-color: white;
    color: black;
    padding: 0px 0px 0px 5px;
    font-size: 12px;
    border-radius: 5px;
    outline: none;
  }
