
.pkmGrid-container {
    background-color: #810101;
    padding: 25px 50px 50px 50px;

    margin: 0px 0px 0px 0px;
    min-height: calc(100vh - 100px - 150px);
    min-width: 1090px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
}

.pkmItem-container-container {
    margin-top: 25px;
    border-radius: 50px;
    border-width: 10px;
    border-color: black;
    background-color: rgb(184, 184, 184);
    overflow: visible;
    
    min-width: 990px;
    min-height: 345px;
}

.grid-item {
    font-size: 30px;
    text-align: center;

    margin: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.pkmItem-container {
    position: relative;         /* I don't think needed */
    background-color: grey;
}

.pkmItem-container:hover {
    transform: scale(0.98, 0.99);
    color: white;
}

.pkmItem-notSelected {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.pkmItem-selected {
    color: gold;
    border-width: 5px;
    padding: 16px;
}

.loadingPkm-container-container {
    font-size: 50px;

    margin: auto;
    width: 100%;
    padding: 10px;

    padding: 140px 0;
}

.loadingPkm-container:hover {
}

.loadingPkm-container {
    cursor:default;

    /*--animation--*/
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: animate 
        1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

/*---------------------------------Pokeball----------------------------------*/
.pkb-container {
    /*--vCenter--*/
    padding: 70px 0;

    /*--hCenter--*/
    margin: auto;
    width: 128px;
    padding: 10px;
}

.pkbImg-container {
    background-image: url("../angelo-assets/pokeball-logo.png");
    width: 128px;
    height: 128px;

    position: relative;
}

.pkbBtn-container {
    margin: auto;
    width: 30%;
    height: 36px;

    /*--vCenter--*/
    padding: 45px 0 0px 2px;
}

.pkb-btn {
    width: 38px;
    height: 38px;

    cursor: pointer;

    border-radius: 50%;
    border-width: 0px;
}

.pkb-btn:active {
    transform: scale(0.95,0.95);
    background-color: rgb(209, 209, 209);
}

.pkb-btn:hover {
    /*--For some reason, scaling doesn't look as good--*/
    width: 34px;
    height: 34px;

    border-width: 3px;
    border-color: black;
    margin: 2px 0px 0px 2px;
}

/*-- pkbLoading removes the hover effect which messes up button -- */
.pkbLoading-btn {
    width: 38px;
    height: 38px;

    cursor: pointer;

    border-radius: 50%;
    border-width: 0px;
    
}

.pkbLoading-btn:active {
    transform: scale(0.95,0.95);
    background-color: rgb(209, 209, 209);
}

#pressPrompt {
    color: white;
}
/*--------------------------------FilterBar------------------------------------*/

.filter-container {
    display: block;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    
    padding: 0px;
    margin: 25px 0px 0px 0px;
    border-radius: 20px;

    width: 100%;
    min-height: 101px;

    position: relative;
    text-align: left;
  }

  .search-container {
    text-align:left;
    width: 40%;
    height: 100%;
    padding: 30px;
  }

  .search-input {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: Bold;

    width: 70%;
    max-height: 34px;

    background-color: white;
    color: black;

    padding: 10px;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;

    outline: none;
    float: none;
  }

  /*--------------------------------PkmTeam------------------------------------*/

  .pkmTeam-container-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    float: right;
    width: 100px;
    height: 100px;

    margin: 0px;
    z-index: 5;

    padding: 20px 20px 0px 20px;
    /*background-color:black;*/
  }

  .pkmTeam-container {
    margin: auto;
    padding: 5px;
    /*background-color:yellow;*/
  }

  .pkmTeam {
    cursor: pointer;
    margin: 0px;
  }

  .teamTitle {
    font-weight: bold;
    font-size: 20px;
    color: gold;
  }