body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

.bodyBG {
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SearchDiv {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  padding-bottom: 50px;
}

.searchBar {
  width: 300px; 
  height: 40px;
}

.searchBtn {
  width: 40px; 
  height: 40px;
  margin-left: 5px;
}

.column {
  float: left;
  width: 300px;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color: red;
  margin: 40px;
  padding-left: 40px;
  border-radius: 50px;
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

  margin: 50px;
  border-radius: 50px;
  cursor: pointer;
}

/*-------------------------EFFECTS--------------------------*/



